@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --border: 214 32% 91%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 160 63% 30%;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }
}
